<div class="action_links">
  <%= link_to "New project", new_project_path %>
</div>

<h2>Projects list</h2>

<table>
	<thead>
		<tr>
			<th>Project name</th>
			<th>Manager</th>
			<th>Is active?</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render :partial => 'project', :collection => @projects %>
        <% if @projects.empty? %>
            <tr><td colspan="4">No results</td></tr>
        <% end %>
	</tbody>
</table>